/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply Hogwarts theme styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50; /* Background color - Hogwarts blue */
    color: #ecf0f1; /* Text color - Light gray */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #c0392b; /* Header background color - Hogwarts red */
    padding: 20px 20px;
    text-align: center;
    border-radius: 50px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: #ecf0f1; /* Text color - Light gray */
}

.main {
    margin-top: 20px;
    text-align: center;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.notes-option,
.task-option {
    background-color: #2980b9; /* Option background color - Hogwarts blue */
    color: #ecf0f1; /* Option text color - Light gray */
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.notes-option:hover,
.task-option:hover {
    background-color: #3498db; /* Option hover background color - Slightly lighter blue */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 18px;
    text-align: center;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

/* Add more styles as needed */
