/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

a:hover {
    background-color: #f0f0f0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
