body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url('https://blog.playstation.com/tachyon/2022/05/87e42cf1164967ddd58b6385fac5f1c375e0c39d.jpg?resize=1088%2C612&crop_strategy=smart'); /* Hogwarts background image */
    background-size: cover;
    color: #fff; /* White text color */
    background-attachment: fixed;
}

h1 {
    color: #ffc800; /* Hogwarts gold color */
    background-color: rgb(4, 4, 40,0.5);
    padding: 20px 10px;
    border-radius: 50px;
    width: 50%;
}

.task-form {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white background */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
}

#taskDate,
#taskTime,
#taskText,
#userEmail {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background for input fields */
}

button {
    padding: 10px 20px;
    background-color: #ffc800; /* Hogwarts gold color */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d2a116; /* Darker gold color on hover */
}

.task-list-item {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
    position: relative;
}

.task-list-item .task-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list-item .task-actions button {
    background-color: #ff3333; /* Red color for buttons */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-list-item .task-actions button:hover {
    background-color: #d62c2c; /* Darker red color on hover */
}

.task-list-item .task-date {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}
